<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Favorite #<%= @favorite.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/favorites" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/favorites/<%= @favorite.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit favorite
        </a>
      </div>

      <div class="col">
        <a href="/delete_favorite/<%= @favorite.id %>" class="btn btn-block btn-outline-secondary">
          Delete favorite
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Activity
      </dt>
      <dd>
        <% if @favorite.activity.present? %>
          <a href="/activities/<%= @favorite.activity_id %>">
            <%= @favorite.activity.activity_type %>
          </a>
        <% end %>
      </dd>

      <dt>
        Bucket
      </dt>
      <dd>
        <% if @favorite.bucket.present? %>
          <a href="/buckets/<%= @favorite.bucket_id %>">
            <%= @favorite.bucket.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@favorite.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@favorite.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

