<% if @activity.errors.any? %>
  <% @activity.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit activity #<%= @activity.id %>
</h1>

<hr>

<form action="/update_activity/<%= @activity.id %>" method="post">

  <div class="form-group">
    <label for="activity_type">
      Activity type
    </label>

    <input type="text" id="activity_type" name="activity_type" class="form-control" value="<%= @activity.activity_type %>">
  </div>

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @activity.title %>">
  </div>

  <div class="form-group">
    <label for="yelp_link">
      Yelp link
    </label>

    <input type="text" id="yelp_link" name="yelp_link" class="form-control" value="<%= @activity.yelp_link %>">
  </div>

  <div class="form-group">
    <label for="bucket_id">
      Bucket
    </label>

    <%= select_tag(:bucket_id, options_from_collection_for_select(Bucket.all, :id, :created_at, @activity.bucket_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="photo_id">
      Photo
    </label>

    <%= select_tag(:photo_id, options_from_collection_for_select(Photo.all, :id, :created_at, @activity.photo_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :city_name, @activity.location_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control" value="<%= @activity.status %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update activity
  </button>
</form>

<hr>

<a href="/activities">
  Go back
</a>
