<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All activities
    </h1>

    <a href="/activities/new" class="btn btn-block btn-outline-secondary">
      Add a new activity
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "activity_templates/activities_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Activity type
        </th>

        <th>
          Title
        </th>

        <th>
          Yelp link
        </th>

        <th>
          Bucket
        </th>

        <th>
          Photo
        </th>

        <th>
          Location
        </th>

        <th>
          Status
        </th>

        <th>
          Details
        </th>

        <th>
          Priority
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @activities.each do |activity| %>
      <tr>
        <td>
          <%= activity.id %>
        </td>

        <td>
          <%= activity.activity_type %>
        </td>

        <td>
          <%= activity.title %>
        </td>

        <td>
          <%= activity.yelp_link %>
        </td>

        <td>
          <% if activity.bucket.present? %>
            <a href="/buckets/<%= activity.bucket.id %>">
              <%= activity.bucket.created_at %>
            </a>
          <% end %>
        </td>

        <td>
          <% if activity.photo.present? %>
            <a href="/photos/<%= activity.photo.id %>">
              <%= activity.photo.created_at %>
            </a>
          <% end %>
        </td>

        <td>
          <% if activity.location.present? %>
            <a href="/locations/<%= activity.location.id %>">
              <%= activity.location.city_name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= activity.status %>
        </td>

        <td>
          <%= activity.details %>
        </td>

        <td>
          <%= activity.priority %>
        </td>

        <td>
          <%= time_ago_in_words(activity.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(activity.updated_at) %> ago
        </td>

        <td>
          <a href="/activities/<%= activity.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @activities, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
