<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Follower #<%= @follower.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/followers" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link follower start -->
      <div class="col">
        <a href="/followers/<%= @follower.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit follower
        </a>
      </div>
      <!-- Edit link follower end -->

      <!-- Delete link follower start -->
      <div class="col">
        <a href="/delete_follower/<%= @follower.id %>" class="btn btn-block btn-outline-secondary">
          Delete follower
        </a>
      </div>
      <!-- Delete link follower end -->
    </div>

    <dl>
      <dt>
        Follower user
      </dt>
      <!-- Display follower_user_id start -->
      <dd>
        <%= @follower.follower_user_id %>
      </dd>
      <!-- Display follower_user_id end -->

      <dt>
        Folowee user
      </dt>
      <!-- Display folowee_user_id start -->
      <dd>
        <%= @follower.folowee_user_id %>
      </dd>
      <!-- Display folowee_user_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@follower.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@follower.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
