<!-- Validation failure messages -->
<% if @bucket.errors.any? %>
  <% @bucket.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit bucket #<%= @bucket.id %>
</h1>

<hr>

<!-- Form bucket start -->
<form action="/update_bucket/<%= @bucket.id %>" method="post">
<!-- Form bucket end -->

  <!-- Label and input for location_id start -->
  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <!-- Input for location_id start -->
    <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :city_name, @bucket.location_id), :class => "form-control") %>
    <!-- Input for location_id end -->
  </div>
  <!-- Label and input for location_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :username, @bucket.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for bucket_name start -->
  <div class="form-group">
    <label for="bucket_name">
      Bucket name
    </label>

    <!-- Input for bucket_name start -->
    <input type="text" id="bucket_name" name="bucket_name" class="form-control" value="<%= @bucket.bucket_name %>">
    <!-- Input for bucket_name end -->
  </div>
  <!-- Label and input for bucket_name end -->

  <!-- Label and input for photo_id start -->
  <div class="form-group">
    <label for="photo_id">
      Photo
    </label>

    <!-- Input for photo_id start -->
    <%= select_tag(:photo_id, options_from_collection_for_select(Photo.all, :id, :created_at, @bucket.photo_id), :class => "form-control") %>
    <!-- Input for photo_id end -->
  </div>
  <!-- Label and input for photo_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update bucket
  </button>
</form>

<hr>

<a href="/buckets">
  Go back
</a>
